@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
*{ 
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0%;
    height: 100vh;
    width: 100%;
    background-color: #262626;
}

/*header*/
.header{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 0 0;
    display: flex;
    justify-items: center;
    justify-content: space-between;
}
.logo{
    width: 220px;
}
.menu{
    display: flex;
    align-items: center;
    width: 60%;
    justify-items: center;
    justify-content: space-around;
}
.menu__inner{
    width: auto;
    height: auto;
}

.menu__link{
    color: white;
    text-decoration: none;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.menu__link::after{
    position: absolute;
    background-color: white;
    content: " ";
    width: 0%;
    height: 1px;
    left: 50%;
    top: 100%;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.menu__link:visited{
    color: white;
}
.menu__link:hover::after{
    color: white;
    width: 100%;
    left: 0%;
}
.push{
    margin-left: auto;
    margin-right: auto;
}
.icons{
    width: 25px;
    margin: 0;
}
.profile{
    position: relative;
    margin-right: 10px;
}
.profile::after{
    position: absolute;
    background-color: white;
    content: " ";
    width: 2px;
    height: 90%;
    right: -5px;
}

/*section*/
.intro{
    background: url('../img/background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 1440px;
    height: 595px;
    margin: 40px auto 0;
    box-shadow: 0 0 10px black;
}
.carusel{
    width: 100%;
    height: 100%;
    position: relative;
}
.controls{
    position: relative;
    display: flex;
    justify-content: center;

}
.arrows{
    width: 50px;
}
.points{
    width: 20px;
    margin: 0 4px 0;
}
.carusel__item{
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    height: auto;
    border: 4px solid #e1b838;
}
.carusel__header{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #262626;
    text-transform: uppercase;
    margin: 0;
    padding: 36px;
    width: 100%;
    background-color: #e1b838;
}
.carusel__text{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 26px;
    color: white;
    text-transform: uppercase;
    margin: 36px 0;
}

/* menu */
.pmenu{
    color: #fff;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    height: auto;
}
.main__header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 26px;
    width: 100%;
    color: #fff;
    text-align: center;
}
.pmenu__section{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
}
.pmenu__s__i__image{
    width: 350px;
    height: 350px;
    margin: 0 auto 0;
}
.pmenu__s__i__image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.pmenu__s__i__description{
    border: 2px solid #e1b838;
}
.description__header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 26px;
    margin: 0%;
    padding: 26px 0 26px;
    background-color: #e1b838;
    color: #262626;
    text-align: center;
}
.item__variants__table{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 17px;
    width: 100%;
    border-collapse: collapse;

}
.variant__name{
    border: 1px solid #e1b838;
    padding: 0 5px;
}
.variant__weight,
.variant__V{
    margin: 0 auto;
    padding: 0 5px;
    border: 1px solid #e1b838;
    text-align: right;
}
.variant__weight::after{
    content: " гр";
}
.variant__cost{
    text-align: right;
    padding: 0 5px;
    border: 1px solid #e1b838;
}
.variant__cost::after{
    content: " \20BD";
}
.variant__V::after{
    content: " мл";
}
.tr__name{
    text-align: center;
    font-weight: 600;
}

/*auth-reg page*/
.authpage{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100%;
    max-width: 1440px;
    margin: 40px auto 0;
    height: 796px;
    background: url("../img/authback.png") no-repeat;
    box-shadow: 0 0 10px black;
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}
.formpart{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.auth__header{
    color: #262626;
    background-color: #e1b838;
    text-align: center;
    margin: 0;
    width: auto;
    padding: 30px 50px;
    font-size: 30px;
}
.notifivationpart{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
.notification{
    background-color: #262626;
    border: 2px solid #e14338;
    margin: 0 0 0 15px;
    width: 350px;
}
.notification__header{
    background-color: #e14338;
    padding: 10px;
    margin: 0;
}
.notification__text{
    color: #fff;
    margin: 5px;
    vertical-align: middle;
    text-align: justify;
}
.auth,
.reg{
    border: 2px solid #e1b838;
    background-color: #262626;
}
.label{
    color: #e1b838;
    text-align: center;
}
.textinput{
    background-color: #262626;
    border: none;
    display: block;
    padding: 0;
    margin: 0 auto;
    border-bottom: 2px solid #e1b838;
    color: #fff;
    font-size: 18px;
    text-align: center;
    outline:none;
}
.badinput{
    border-bottom: 2px solid #e14338;
}
.auth__btn{
    background-color: #e1b838;
    border: none;
    color: #262626;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin: 10px auto;
    padding: 3px;
    width: 200px;
    transition: all 200ms;
}
.auth__btn:hover{
    cursor: pointer;
    background-color: #262626;
    color: #e1b838;
    box-shadow: 0px 0px 0px 1px #e1b838;
}
.buttons{
    border-top: 2px solid #e1b838;
    padding-bottom: 2px;
}

/*profile page*/
.profile__outer{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: auto;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}
.prof{
    margin-bottom: 0;
}
.profile__inner{
    width: 500px;
    margin: 0 auto;
}
.profile__inner__header{
    background-color: #262626;
    margin: 0;
    padding: 15px 0;
    text-align: center;
}
.pers__data{
    border: 4px solid #e1b838;
    border-collapse: collapse;
}
.pers__data__col1{
    font-weight: 600;
    color: #262626;
    padding: 5px;
    border: 2px solid #262626;
    background-color: #e1b838;
}
.pers__data__col2{
    padding: 5px;
    border: 2px solid #e1b838;
}
.text{
    font-size: 16px;
    color: #e1b838;
    margin: 0 auto;
}
.orders__notif{
    width: 100%;
    padding: 5px;
    text-align: center;
}
.orders{
    width: 100%;
}
.orders__col1{
    width: 20%;
}
.orders__col2{
    width: 50%;
}
.orders__col3{
    width: 30%;
}
.leaveBtn{
    display: block;
    text-align: center;
    font-weight: 500;
    width: 20%;
    padding: 5px;
    border: 2px solid #e1b838;
    color: #e1b838;
    background-color: #262626;
    text-decoration: none;
    margin: 5px auto 0;
    transition: all 0.5s;
}
.leaveBtn:hover{
    color: #262626;
    background-color: #e1b838;
}